@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(17 24 39);
  color: rgba(255, 255, 255, 0.9);

  overscroll-behavior: none;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.parrafo-con-sangria {
  text-indent: 50px; 
  margin-bottom: -10px;
}

.stretch-icon {
  display: block; /* Asegura que el icono se trate como un bloque */
  width: 100%; /* Expande el icono a lo ancho de la pantalla */
  height: 5px; /* Hace el icono más angosto */
  color: white; /* Ajusta el color según necesites */
  margin: auto; /* Centra el icono horizontalmente si es necesario */
}